.slideshow {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.backDrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 700;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: scale(1);
}

.slide {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh + 100px);
}
.slide2Small {
  position: relative;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 60vh;
}
.slideImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
}
