.Hero {
  position: relative;
  width: 100%;
  height: calc(100vh + 50px);
}

.HeroBg {
  object-fit: cover;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.backDrop {
  width: 100%;
  height: calc(100vh + 50px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
}
.BgTabs {
  display: flex;
  position: absolute;
  z-index: 500;
  left: 20px;
  top: 100;
  transform: translateY(-50%);
}
.slideShow {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide {
  position: relative;
  display: inline-block;
  overflow: hidden;

  width: 100%;
}
.CTA_btn {
  border: none;
  width: 200px;
  padding: 20px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, black, #6c7586);
}
.callToAction {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 800px;
  transform: translateY(-50%);
}
.CTA_Header {
  color: white;
  font-size: 50px;
  line-height: 1.3;
  margin-bottom: 30px;
}
