
.AboutUsPage{
    width: 100%;
    margin: 0px;
    padding: 0px;
   
  }
  @keyframes section1Animation {
    0%   { width:130%;}
    100% { width:100%;}
  }
  .section1Parent{
    display: flex;
    justify-content: center;

    
  }

  .section{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .section1{
    width: 100%;
  }
  .section1_{
    animation-name: section1Animation;
    animation-duration: 2s;
  }


  .aboutUsText {
    backface-visibility: hidden;
    font-size: 2rem;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    
  }
.message {
  color:rgb(2, 2, 27);
  font-weight: bold;
  opacity: .7;
  font-size: 3rem;
  text-align: center;
  
}
.alignment{
  width: 80%;
  text-align: center;
  margin: auto;
}
.paragraph{
  color: grey;
  opacity: .7;
  font-size: 1.2rem;
  margin-top: 20px;
}

.gridItem{
  text-align: center;
}
.topContainer{
  margin: 0px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8rem;

}
.gridContainer{
 width: 100%;
 margin: 0px;
 display: inline-grid;
 grid-template-columns: auto auto auto auto;
 gap: 2rem;
 
}
.gridItemImg{
  width: 180px;
  height: 200px;
  margin: auto;
  margin-top: 0px;
  
}
.count{
  font-size: 4rem;
  text-align: center;
  background:linear-gradient(90deg,rgb(0, 0, 20,1),rgba(0, 0, 20, 1),white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  padding: 0px;
  
}
.supportingText{
  font-size: 1rem;
  text-align: center;
  color:rgb(2, 2, 27);
  opacity: .8;
  margin: 0px;
  padding: 0px;
}

.backgroundForAll{  
  background-color: white;
}
.floatingImages{
  width: 20rem;
  height: 12rem;
  border-radius: 5px;

}

.text_s4_p2{
  width: 65%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.section4container{
  margin-top: 100px;
  display: inline-flex;
  justify-content: center;
  gap: 2rem;
}
@keyframes animationImages {
  0%   {  top:0px;}
  50%  { top:30px;}
  100% { top:0px;}
}

.containerOfAnimatedImages{
  position: relative;
  animation-name: animationImages;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#bottomImage{
  position: relative;
  transition: transform 2.50s ease;
  bottom: 31%;
  left: 0%;
}
#topImage {
  transition: transform 2.50s ease;
  position: relative;
  top: 20%;
  left: 40%;
  
}
#bottomImage:hover{
  transform: scale(1.2);

}
#topImage:hover{
  transform: scale(1.2);

}

/* section 5 */
.AboutUsSection5{
  height: 40vh;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 30px  1px rgba(128, 128, 128, 0.5);
  margin-block: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
  
}
.establishMessage{
  background-color: rgba(128, 128, 128, 0.3);
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  padding-inline: 5px;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(0, 0, 20,.8);
 
}
.secondLine{
  font-size: 1rem;
  font-weight: bold;
  margin-inline: auto;
  width: fit-content;
  margin-block: 1rem;
  color: rgb(0, 0, 20,.6);
  
}
.gridView{
  margin-inline: auto;
  height: fit-content;
}