.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1500;
  box-sizing: border-box;
  color: white;
}
.scroll {
  background-color: white;
}
.nav_list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav_item {
  margin-right: 30px;
}

.nav_item:last-child {
  margin-right: 0;
}
