/* .section2 {
   
    width: 100%;
} */

.whatwedo{
    color: white;
    backface-visibility: hidden;
    font-size: 2rem;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

@keyframes section1Animation {
    0%   { width:130%;}
    100% { width:100%;}
  }
  .whatwedo{
    animation-name: section1Animation;
    animation-duration: 2s;
  }