/* 

.cards_gridWrapper {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.img1 {
  max-width: max-content;
  height: 50%;
  border-radius: 4px;
}

.img2 {
  width: 20em; 
   height: 50%;
  border-radius: 4px;

}

.img3{
  border-radius: 4px;
  width: 20em;
  height: 50%;
}
.mySection {
 
  background-color: rgba(0, 0, 20, 0.025);
}
.wwdSection {
  margin-top: 4em;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
  /* margin-left: 50%;
  margin-right: 100%; 
}
.bottom1{
  background-color:  navy;
  height: 10rem;
  color: #000;

}*/
/* .bottom2{
   background-color:  rgba(2, 2, 36, 0.025); 
  background-color: white;
  height: 10rem;
} */

/* 
.design {
  background-color: white;
  border-radius: 7px;
  float: left;
  width: 40em;
  height: 28em;
  
  padding: 20px;
}
.text_wrapper {
  padding: 20px;
}

.design:hover {
  transform: scale(1.1);
  background: rgba(7, 7, 34, 0.025);
  box-shadow: 2px 2px 2px #000;
} */
/* .plastic {
  background-color: white;
  border-radius: 7px;
  float: center;
  width: 40em;
  height: 28em; 
 }
.plastic:hover {
  transform: scale(1.1);
  background: rgba(7, 7, 34, 0.025);
  box-shadow: 2px 2px 2px #000;
}
.manufactoring {
  border-radius: 7px;
  background-color: white;
  width: 40em;
  float: right;
  height: 28em;
}

.manufactoring:hover {
  transform: scale(1.1);
  background: rgba(7, 7, 34, 0.025);
  box-shadow: 2px 2px 2px #000;
}

.whatwedo {
  color: white;
  backface-visibility: hidden;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.section3w {
  height: auto;
} */
/* .section3wwd {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.section4wwd {
  height: auto;
}
.section_image {
}
.H1div {
  color: rgb(19, 19, 98);
}
.Pdiv {
}
.H4div {
  width: 16rem;
  color: #fff;
  border-radius: 5px;
  background-color:rgb(23, 23, 81);
 } 
.section2wwd{
  margin-top: 150px;
}
@keyframes section1Animation {
    0%   { width:130%;}
    100% { width:100%;}
  }
  .whatwedo{
    animation-name: section1Animation;
    animation-duration: 2s;
  }  */
  