
.section{
    width: 80%;
    
}

.text1{
    border: 2px solid red;
    width: fit-content;
    height: fit-content;
}

.stunningProjects{
    width: fit-content;
    height: fit-content;
    padding-inline:5px;
    background-color: rgb(2, 2, 27,.8);
    margin-inline: auto;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
}
.stunningProjectsMessage{
    
    color: rgb(2, 2, 27, .7);
    width: 75%;
    height: fit-content;
    font-size: 3rem;
    font-weight: bold;
    margin-inline: auto;
    text-align: center;
    margin-block: 1rem;
}
.projectList{
   display: grid;
   border: 4px solid steelblue;
   grid-auto-flow: column;
    /* wrap just in the mean time... ill remove later */
    /* flex-wrap: wrap; */
}

.listItem{
    border-radius: 3px;
    width: 16rem;
}
.dotStyle{
    border-style: solid;
    border-width: 2px;
    border-color: steelblue;
    border-radius: 6px;
    width: 10px;
    height: 10px;
    margin-left:.5rem ;
    
  
}
.dotStyle:hover{
    background-color: rgba(70, 131, 180, 0.7);

}
.imageSliderContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: .5rem;
    border: 3px solid black;
    justify-content: center;
    
}
.dotContainer{
    display: flex;
    margin-block: 5rem;
    margin-top: 1rem;
}
