.Footer{
    height: 70vh;
    background-image: url('../../Assets/Images/Kitchen.jpeg');
    background-size: 100%;
}

.innerDiv{
   height: 100%;
   background: linear-gradient(90deg,rgba(2, 2, 27, .95),rgba(2, 2, 27, .8));
   color: white;
   text-align: center;
   font-weight: bold;
   font-size: 5rem;
}
