.Footer{
    height: 65vh;
    background-image: url('../../Assets/Images/Kitchen.jpeg');
}

.innerDiv{
   height: 100%;
   background-color: rgba(2, 2, 27, .9);
   color: white;
   text-align: center;
   font-weight: bold;
   font-size: 5rem;
}
