.Footer{
    height: 70vh;
    background-image: url('../../Assets/Images/Kitchen.jpeg');
    background-size: 100%;
}

.innerDiv{
   height: 100%;
   background: linear-gradient(90deg,rgba(2, 2, 27, .95),rgba(2, 2, 27, .8));
   color: white;
   text-align: center;
   
   
}
.gridList{
    display: grid;
   grid-template-columns: auto auto auto auto;
   border: 2px solid rgb(255, 0, 0);
  
   margin-block: auto;
}
.flexDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.logoMessage{
    margin-inline: 1rem;
    padding:.5rem ;
}