.section_3 {
  padding: 70px 50px 70px 50px;
  width: 100%;
  box-sizing: border-box;
}

.section_2 .header_wrapper {
  display: flex;
  justify-content: space-between;
}
.section_details {
  width: 400px;
  color: #54595f;
}
.primary_header {
  color: #181b29;
}

.innerWraper {
  position: relative;
  z-index: 1200;
  display: block;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.section_3 .header_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 25px;
}
.stats_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.stat_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #181b29;
  color: white;
}
.section_details h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1.1;
}
.section_details p {
  margin: 0;
}
.stat {
  font-size: 50px;
}
.stat_description {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.section_content {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  grid-gap: 25px;
  margin-top: 50px;
}

.slide_show {
  width: 100%;
  height: 500px;
  background: linear-gradient(
    43deg,
    rgba(24, 27, 41, 0.7) 0%,
    rgba(108, 117, 134, 0.7) 46%
  );
}
.service_stats {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 25px;
}
.parallex_section {
  width: 100%;
  background-image: linear-gradient(
      43deg,
      rgba(24, 27, 41, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 46%
    ),
    url("https://images.unsplash.com/photo-1619759247378-6a73e3ad45f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallex_header {
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  width: 700px;
  line-height: 1.1;
  margin-bottom: 15px;
}
.parallex_innerWrapper {
  display: block;
  max-width: 1140px;
  padding: 50px;
  margin: 0 auto;
}
.contact_sectionText_header {
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 15px;
}

.secondary_header {
  color: white;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

.contact_section {
  position: relative;
  background-image: linear-gradient(
      43deg,
      rgba(24, 27, 41, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 46%
    ),
    url("https://images.unsplash.com/photo-1573496774426-fe3db3dd1731?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh + 50px);
  background-color: #181b29;
  padding: 50px;
  box-sizing: border-box;
}
.contact_sectionText {
  /* background-color: red; */
}
.contact_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.innerText {
  color: white;
  font-size: 20px;
}
.form_wrapper {
  min-height: 80vh;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 90%);
  border-radius: 10px;
  background-color: white;
  padding: 70px 20px 20px 20px;
}
.bannerImg {
  width: "100%";
  height: 500px;
}
.form_header {
  color: #495057;
  font-size: 25px;
  margin-bottom: 10px;
}
.sub_header {
  color: #adb5bd;
  font-size: 20px;
  margin: 0;
}
.contactus_form {
  text-align: center;
}

.input_item_wrapper {
  display: flex;
  flex-direction: column;
}
.input_item {
}
.form_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.form_innerWrapper {
  text-align: left;
}
.form_grid {
  margin-top: 30px;
}
.input_item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px 10px 30px;
  border-radius: 5px;
  border: 2px solid #e5e8ec;
  outline: none;
}
.input_label {
  margin-bottom: 10px;
  color: #adb5bd;
}
.input_wrapper {
  position: relative;
  background-color: yellow;
}
.personIcon_wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 900;
}
.person_icon {
  width: 20px;
  height: 20px;
  background-color: #181b29;
}
.textarea_item {
  width: 100%;
  border: 2px solid #e5e8ec;
  height: auto;
  min-height: 150px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
}
.textarea_item:focus {
  border: 2px solid #e5e8ec;
  outline: none;
}
.textarea_item:active {
  border: 2px solid #e5e8ec;
  outline: none;
}
.textarea_wrapper {
  display: flex;
  flex-direction: column;
}
.textarea_wrapper {
  margin-top: 30px;
}
.send_messageBtn {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #e5e8ec;
  background: linear-gradient(to right, #181b29, #6c7586);
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.emailBtn {
  border-radius: 10px;
  color: #333;
  background-color: #fff;
  padding: 20px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  box-sizing: border-box;
}
