.view_projects_btn {
  width: 220px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background: linear-gradient(to right, #181b29, #6c7586);
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  transition: all 1s;
}
.parrallex_text {
  width: 700px;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
  transition: all 2s;
}
